        * {
            background-color: aqua;
            overflow: auto;
        }

        h1 {
            padding: 2px;
            margin: 2px;
            border: 2px solid rgb(22, 182, 231);
            text-align: center;
            border-radius: 10px;
            color: cornflowerblue;
            position: relative;
            top: 20px;
        }

        .box {
            padding: 0px;
            margin: 10px;
            width: 40vw;
            height: 15vh;
            font-weight: bolder;
            color:lightseagreen ;
            position: relative;
            left: 30vw;
        }
        .box2 li{
            border: 2px solid rgb(23, 174, 219);
            position:relative;
            left: 25vw;
        }
        header nav ul li {
            list-style: none;
            padding: 20px;
            width: 20vh;
            height: 3.5vh;
            margin: 10px;
            text-align: center;
            border: 2px solid rgb(23, 174, 219);
            border-radius: 20px;
        }

        header nav ul {
            display: flex;
        }

        .sec1 h2 {
            text-align: center;
            border: 2px solid rgb(23, 174, 219);
            border-radius: 20px;
        }

        .sec1 p {
            font-weight: bold;
            margin: 10px;
            width: 35vw;
            height: 15vh;
        }

        .skill {
            text-align: center;
            border: 2px solid rgb(23, 174, 219);
            border-radius: 25px;
        }

        .skilll li {
            list-style: disc;
            padding-left: 20px;
        }

        .work {
            text-align: center;
            border: 2px solid rgb(23, 174, 219);
            border-radius: 20px;
        }

        .edu {
            border: 2px solid rgb(23, 174, 219);
            border: 2px solid rgb(23, 174, 219);
            border-radius: 20px;
            text-align: center;
        }
        a:visited{
            color: black;
        }
        a:active{
            color: rgb(23, 174, 219);
            background-color: rgb(23, 174, 219);
        }
        a:link{
            color: rgb(23, 174, 219);
        }
        a:hover{
            color: lightblue;
            background-color: purple;
        }