.Red{
    color: red;
}
/* .blue{
    background-color: blanchedalmond;
} */
.yellow{
    background-color: yellow;
}
/* #First
{
    background-color: aquamarine;
}
#Second{
    background-color: hotpink;
} */